body {
    background-image: url("../emre-gencer-95245-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.article {
    margin: 0 0 20px 0;
}

.article-tmpl {
    display: none;
}

.articles {
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    padding: 25px 25px 0 25px;
    width: 800px;
}

.pic { /* fit images to our feed */
    height: auto;
    width: 800px;
}

.news-head h2 {
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
    padding: 0 0 0 10px;
}

.news-head h4 {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 8px 0 10px 10px;
}

.news-head {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 999;
}

.action-button {
    display: inline-block;
    position: relative;
}