<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../static/stylesheet/style.css" rel="stylesheet">
</head>
<body>
    <div class="articles">
        <a href="#">
            <div class="fresh-news-counter tmpl">
                <h2></h2>
            </div>
        </a>
    </div>

    <article class="article article-tmpl">
        <div class="news-head">
            <h4>
                <span class="date"></span>
                <span class="author"></span>
            </h4>
            <h2 class="post-heading"></h2>
        </div>
        <a href="#" class="action-button" target="_blank">
            <img class="pic" src="">
        </a>
    </article>
    <!--<script src="xml2json.js"></script>-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="../static/js/news.js"></script>

</body>
</html>